body{
    margin: 0xp;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    padding:10px 0px 40px 0;
    overflow: hidden;
    background-color: #322c38;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap:1rem ;
}

.label-container{
    display: flex;
    width: 200px;
}

.label-container:hover{
    box-shadow: 2px 2px 2px 4px blue;
}

label{
    padding: 10px;
    width: 50%;
    background-color: rgb(33 27 27);
    cursor: pointer;
    color: white;
    font-family:auto;
    border-radius: 4px;
}


input{
    width: 50%;
    cursor: pointer;
}

input:hover{
    box-shadow: 2px 2px 2px 2px red;
}
